<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-misposts">
  <template>

    <style include="shared-styles">
    :host {
      display: inline-block;
      padding: 10px;}

    #cab {
      font-weight: bold;
      font-size: 125%;
      color: black;
    }
    #titulo {
      font-weight: bold;
      height: 100px;
      width: 250px;
      padding: 10px;

    }
    #texto {
      font-weight: normal;
      height: 100px;
      width: 400px;
      padding: 10px;
      font-family: Arial;
    }
    #usuario {
      font-weight: normal;
      padding: 10px;
            font-family: Arial;
    }
    #fecha {
      font-weight: normal;
      padding: 20px;
            font-family: Arial;
    }

    #boton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }

    </style>

    <div class="cardm">
      <div>
        <table>
          <thead id="cab">
            <tr>
              <th>Título</th>
              <th>Texto</th>
              <th>Autor</th>
              <th>Fecha</th>
              <th></th>
              <th><img src="/images/refres.png" width="20" height="20" on-click="ready"></th>
            </tr>
          </thead>
          <tbody id="tablePost">
              <template is="dom-repeat" items="{{posts}}">
                <tr>
                  <th id="titulo">[[item.titulo]]</th>
                  <th id="texto">[[item.texto]]</th>
                  <th id="usuario">[[item.usuario]]</th>
                  <th id="fecha">[[item.fecha]]</th>
                  <th><a id="boton" href="modifpost" on-click="modifPost">Modificar</a></th>
                  <th><a id="boton" href="misposts" on-click="borraPost">Borrar</a></th>
                </tr>
              </template>
          </tbody>
        </table>
      </div>
    </div>

  </template>


  <script>

    const URL_BASE4 = "https://api.mlab.com/api/1/databases/mongofer/collections/posts?";
    const TOKEN4 = "apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";
    const URL_BASE3 = "https://api.mlab.com/api/1/databases/mongofer/collections/posts";
    const TOKEN3 = "?apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";
  //  const BARRA = "/";

    Polymer({
      is: 'my-misposts',

      ready: function(e) {
        var usu = sessionStorage.getItem('usuario');
        var request = new XMLHttpRequest();
        var busca='q={"usuario": {"$regex": ".*' + usu + '.*","$options": "i"}}&'
        request.open("GET", URL_BASE4+busca+TOKEN4, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        this.posts=JSON.parse(request.responseText);
        this.disable=false;
        for (var i = 0; i < this.posts.length; i++) {
            if (this.posts[i].texto) {
          this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
        }};
        this.posts = this.posts.sort(function (a, b){
  	                    if ( a.fecha < b.fecha )
    	                       return 1;
                        if ( a.fecha > b.fecha )
                            return -1;
                        return 0;
                      })
      },

      properties: {
        posts: {
          type: Array,
          notify: true
        },
        titulo: String,
        texto: String,
        disable: {
            type: Boolean,
            value: true
        }
      },
      listeners: {
      },


    modifPost: function(e) {
      var model = e.model;
      var idm = model.item._id.$oid;
      sessionStorage.setItem("idselecionado", idm );
    },

    borraPost: function(e) {
      var model = e.model;
      var busca='/' + model.get('item._id.$oid');
      var urldel = URL_BASE3 + busca + TOKEN3;
      var request = new XMLHttpRequest();
      request.open("DELETE", URL_BASE3 + busca + TOKEN3, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send();

      var usu = sessionStorage.getItem('usuario');
      var request = new XMLHttpRequest();
      var busca1='q={"usuario": {"$regex": ".*' + usu + '.*","$options": "i"}}&'
      request.open("GET", URL_BASE4+busca1+TOKEN4, false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send();
      this.posts=JSON.parse(request.responseText);
      this.disable=false;
      for (var i = 0; i < this.posts.length; i++) {
          if (this.posts[i].texto) {
        this.posts[i].texto = this.posts[i].texto.substring(0,130) + "..."
      }};
      this.posts = this.posts.sort(function (a, b){
	                    if ( a.fecha < b.fecha )
  	                       return 1;
                      if ( a.fecha > b.fecha )
                          return -1;
                      return 0;
                    })
    }

    });

    window.onload = function () {
      console.log(typeof ElementOne); // undefined
    };
  </script>
</dom-module>
