
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-modifpost">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="card">
      <div>
        <div class="group">
          <label>Título</label>
          <input id="titulo" type="text" value="{{titulo::input}}" >
        </div>
        <div class="group">
          <label>Texto</label>
          <textarea id="texto" rows="20" cols="100" value="{{texto::input}}" ></textarea>
        </div>
        <div><button type="button" name="button" on-click="modifPost">Guardar Post</button></div>
        <div><button type="button" name="button1" on-click="refresca">Recuperar original</button></div>
      </div>
    </div>
  </template>
  <script>

    const URL_BASE5 = "https://api.mlab.com/api/1/databases/mongofer/collections/posts";
    const TOKEN5 = "?apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";
    const URL_BASE6 = "https://api.mlab.com/api/1/databases/mongofer/collections/posts";
    const TOKEN6 = "?apiKey=1rveomyfTcuS833z0w_XJIHcGLHkAoLY";
    var idselmod = "";
  //  const BARRA = "/";

    Polymer({
      is: 'my-modifpost',
      properties: {
        posts: {
          type: Array,
          notify: true
        },
        titulo: String,
        texto: String,
        disable: {
            type: Boolean,
            value: true
        }
      },
      listeners: {
      },

      ready: function() {
          idselmod = sessionStorage.getItem('idselecionado');
          var request = new XMLHttpRequest();
          request.open("GET", URL_BASE5+'/'+idselmod+TOKEN5, false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
          var tex = request.responseText;
          //tex=tex.replace(/\\n/g,"<br></br>");
          this.posts=JSON.parse(tex);
          this.disable=false;
          this.titulo = this.posts.titulo;
          this.texto = this.posts.texto;
      },

      modifPost: function () {

        idselmod = sessionStorage.getItem('idselecionado');
        var busca='/' + idselmod;
        var request = new XMLHttpRequest();
        request.open("DELETE", URL_BASE6 + busca + TOKEN6, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();

        var request = new XMLHttpRequest();
        request.open("POST", URL_BASE6+TOKEN6, false);
        request.setRequestHeader("Content-Type", "application/json");
        var agrabar = JSON.stringify({"titulo": this.titulo, "texto": this.texto,
         "imcab": this.posts.imcab, "usuario": this.posts.usuario, "fecha": this.posts.fecha});
        request.send(agrabar);
        window.alert("Post modificado con éxito");

        var tex = request.responseText;
        this.posts=JSON.parse(tex);
        this.titulo = this.posts.titulo;
        this.texto = this.posts.texto;
        idselmod=this.posts._id.$oid;


      },

      refresca: function () {

        var request = new XMLHttpRequest();
        request.open("GET", URL_BASE5+'/'+idselmod+TOKEN5, false);
        request.setRequestHeader("Content-Type", "application/json");
        request.send();
        var tex = request.responseText;
        this.posts=JSON.parse(tex);
        this.disable=false;
        this.titulo = this.posts.titulo;
        this.texto = this.posts.texto;

      },

    });

    window.onload = function () {
      console.log("nuevopost"); // undefined
    };
  </script>
</dom-module>
