<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-nuevousu">
  <template>

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .form-signin-heading {
        text-align: center;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <div class="card1">

      <div name="Register_Form" class="form-signin">
  		    <h3 class="form-signin-heading">Introduzca los datos del nuevo usuario</h3>
  			  <hr class="colorgraph"><br>
  			  Código de usuario:   <input type="text" class="form-control" id="nombre" name="nombre"  />
          <br><br>
          Correo electrónico:  <input type="email" class="form-control" id="email" name="email" />
          <br><br>
          Contraseña:          <input type="password" class="form-control" id="password" name="password" />
          <br><br>
  			  <button class="btn"  name="Submit" value="Login" type="Submit" on-click="crearUsuario">Crear</button>
          <br><br>
          <span id="mensaje"></span>
        </div>

      </div>
  </template>
   <script>

   const URL2 = "http://postgrebc9688.cloudapp.net:3000/api/usuarios";

   class MyNuevousu extends Polymer.Element {
     static get is() { return 'my-nuevousu'; }

     crearUsuario()
     {

         var nombre=this.$.nombre.value;
         var email=this.$.email.value;
         var password=this.$.password.value;
         var peticion = new XMLHttpRequest();
         peticion.open("POST", URL2, false);
         peticion.setRequestHeader("Content-Type", "application/json");
         peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
         peticion.send('{"nombre":"' + nombre + '", "email": "' + email + '", "password": "' + password + '"}');
         var spanMensaje = this.$.mensaje;
         var respuesta = JSON.parse(peticion.responseText);
         if (peticion.status=="200")
         {
             window.alert("Bienvenido " + nombre + "!!");
             sessionStorage.setItem("usuario", nombre);
             this.$.nombre.value="";
             this.$.password.value="";
             this.$.email.value="";
             spanMensaje.innerText ="";
             this.set('route.path', '/');
         }
         else
         {
             spanMensaje.innerText = "No se pudo crear el usuario";
         }
     }

   }

   window.customElements.define(MyNuevousu.is, MyNuevousu);


    </script>
</dom-module>
